@model VOCATION_MVC.Models.Tbl_UseVacationCount

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Persons.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Persons.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsedVacationDaysCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsedVacationDaysCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regdate)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
        </div>
    }
</div>
