@model VOCATION_MVC.Models.Tbl_VacationAppeals

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Persons.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Persons.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayCount)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegDate)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
